.container {
  padding: 15px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.new-car-container {
  width: 15%;
}
.new-car-button {
  width: 95%;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 20px;
  font-size: 16px;
  border: 2px solid #f18400;

  background-color: #fff;
  color: #f18400;
}
.new-car-button:hover {
  background-color: #f18400;
  color: #fff;
}

.table {
  width: 100%;

  thead {
    background-color: #f18400;
    th {
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      color: white;
      border: 1px solid #f1f1f1;
    }
  }

  tbody {
    tr {
      color: #4d4f52;
      cursor: pointer;
      td {
        padding: 10px;
        border-bottom: 1px #dbdbdb solid;
        text-align: center;
      }
    }

    tr:nth-child(even) {
      background: #eef1f5;
    }
    tr:nth-child(odd) {
      background: #dddede;
    }
  }
}
