<div class="container">
  <div class="title-container">
    <div>
      <h2>Cars DKV</h2>
    </div>
    <div class="new-car-container">
      <button class="new-car-button">New Car</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Manufacter</th>
        <th>Model</th>
        <th>Milage</th>
      </tr>
    </thead>
    <tbody>
      @for(item of (carsList$ | async); track item.id) {
      <tr class="row">
        <td>{{ item.name }}</td>
        <td>{{ item.manufacturer }}</td>
        <td>{{ item.model }}</td>
        @if(item.mileage) {
        <td>{{ item.mileage }}</td>
        } @else {
        <td>-</td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
